{% extends 'seller/base.html' %}
{% block content %}

<!-- Shop Detail Start -->
{% for g in goods %}
    <div class="container-fluid py-5">
        <div class="row px-xl-5">
            <div class="col-lg-5 pb-5">
                <div id="product-carousel" class="carousel slide" data-ride="carousel">
                    <img class="w-100 h-100" src="{{ g.image.url }}" alt="Image">
                    <!--
                    <div class="carousel-inner border">
                        <div class="carousel-item">
                            <img class="w-100 h-100" src="#" alt="Image">
                        </div>
                    </div>
                        <a class="carousel-control-prev" href="#product-carousel" data-slide="prev">
                            <i class="fa fa-2x fa-angle-left text-dark"></i>
                        </a>
                        <a class="carousel-control-next" href="#product-carousel" data-slide="next">
                            <i class="fa fa-2x fa-angle-right text-dark"></i>
                        </a>
                    -->
                </div>
            </div>
            
            <div class="col-lg-7 pb-5">
                <h3 class="font-weight-semi-bold">{{ g.name }}</h3>
                <div class="d-flex mb-3">
                    <div class="text-primary mr-2">
                        <small class="fas fa-star"></small>
                        <small class="fas fa-star"></small>
                        <small class="fas fa-star"></small>
                        <small class="fas fa-star-half-alt"></small>
                        <small class="far fa-star"></small>
                    </div>
                    <small class="pt-1">(50 Reviews)</small>
                </div>
                <h3 class="font-weight-semi-bold mb-4">${{ g.price }}</h3>
                <p class="mb-4">
                    {{ g.description }}
                </p>
                {% if g.user.id == user.id %}
                    <div class="card-footer d-flex justify-content-between bg-light border">
                        <a href="{% url 'detile-view-seller' g.id %}" class="btn btn-sm text-dark p-0"><strong>View Detail</strong></a>
                        <a href="" class="btn btn-sm text-dark p-0"><strong>Edit</strong></a>
                        <a href="" class="btn btn-sm text-dark p-0"><strong>Delete</strong></a>
                    </div>
                {% endif %}
            </div>
        </div>
    </div> 
<!-- Shop Detail End -->
{% endfor %}
{% endblock content %}
