
    <!-- Navbar Start -->
    <div class="container-fluid mb-5">
      <div class="row border-top px-xl-5">
          <div class="col-lg-3 d-none d-lg-block">
          </div>
          <div class="col-lg-9">
              <nav class="navbar navbar-expand-lg bg-light navbar-light py-3 py-lg-0 px-0">
                  <a href="" class="text-decoration-none d-block d-lg-none">
                      <h1 class="m-0 display-5 font-weight-semi-bold"><span class="text-primary font-weight-bold border px-3 mr-1">E</span>Shopper</h1>
                  </a>
                  <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
                      <div class="navbar-nav mr-auto py-0">
                        {% if user.is_authenticated %}
                            <a href="{% url 'seller-home' %}" class="nav-item nav-link active">My Product Manage</a>
                            <a href="{% url 'postProduct' %}" class="nav-item nav-link">Post New Product</a>
                            <a href="{% url 'requestClient' %}" class="nav-item nav-link">Request Client</a>
                        {% endif %}
                      </div>
                      <div class="navbar-nav ml-auto py-0">
                          {% if user.is_authenticated %}
                            <a href="{% url 'profileSeller' user.id %}" class="nav-item nav-link">Profile</a>
                          {% else %}
                            <a href="{% url 'register-seller' %}" class="nav-item nav-link">Register</a>
                            <a href="{% url 'login-seller' %}" class="nav-item nav-link">Login</a>
                          {% endif %}
                      </div>
                  </div>
              </nav>
          </div>
      </div>
  </div>
  




  <!-- Navbar End -->
  