{% extends 'store/base.html' %}
{% block title %}
checkout
{% endblock title %}

{% block content %}

<!-- Page Header Start -->
<div class="container-fluid bg-secondary mb-5">
    <div class="d-flex flex-column align-items-center justify-content-center" style="min-height: 300px">
        <h1 class="font-weight-semi-bold text-uppercase mb-3">Checkout</h1>
        <div class="d-inline-flex">
            <p class="m-0"><a href="{% url 'home' %}">Home</a></p>
            <p class="m-0 px-2">-</p>
            <p class="m-0">Checkout</p>
        </div>
    </div>
</div>
<!-- Page Header End -->

{% if cartM %}
    {% for c in cartM %}
    <!-- Checkout Start -->
    <div class="container-fluid pt-5">
        <div class="row px-xl-5">
            <div class="col-lg-8">
                <div class="mb-4">
                    <h4 class="font-weight-semi-bold mb-4">Billing Address</h4>
                    <div class="row">
                        <div class="col-md-6 form-group">
                            <label>First Name</label>
                            <input class="form-control" type="text" placeholder="{{ user.first_name }}" value="{{ user.first_name }}">
                        </div>
                        <div class="col-md-6 form-group">
                            <label>Last Name</label>
                            <input class="form-control" type="text" placeholder="{{ user.last_name }}" value="{{ user.last_name }}">
                        </div>
                        <div class="col-md-6 form-group">
                            <label>E-mail</label>
                            <input class="form-control" type="email" placeholder="{{ user.email }}" value="{{ user.email }}">
                        </div>
                        <div class="col-md-6 form-group">
                            <label>Mobile No</label>
                            <input class="form-control" type="inte" placeholder="{{ c.mobile_no }}" value="{{ c.mobile_no }}">
                        </div>
                        <div class="col-md-6 form-group">
                            <label>Address Line 1</label>
                            <input class="form-control" type="text" placeholder="{{ c.address_line1 }}" value="{{ c.address_line1 }}">
                        </div>
                        <div class="col-md-6 form-group">
                            <label>Address Line 2</label>
                            <input class="form-control" type="text" placeholder="{{ c.address_line2 }}" value="{{ c.address_line2 }}">
                        </div>
                        <div class="col-md-6 form-group">
                            <label>Country</label>
                            <input class="form-control" type="text" placeholder="{{ c.Country }}" value="{{ c.Country }}">
                        </div>
                        <div class="col-md-6 form-group">
                            <label>City</label>
                            <input class="form-control" type="text" placeholder="{{ c.city }}" value="{{ c.city }}">
                        </div>
                        <div class="col-md-6 form-group">
                            <label>State</label>
                            <input class="form-control" type="text" placeholder="{{ c.state }}" value="{{ c.state }}">
                        </div>
                        <div class="col-md-6 form-group">
                            <label>ZIP Code</label>
                            <input class="form-control" type="text" placeholder="{{ c.zip_code }}" value="{{ c.zip_code }}">
                        </div>
                    </div>
                </div>
                
            </div>
            <div class="col-lg-4">
                <div class="card border-secondary mb-5">
                    <div class="card-header bg-secondary border-0">
                        <h4 class="font-weight-semi-bold m-0">Order Total</h4>
                    </div>
                    <div class="card-body">
                        <h5 class="font-weight-medium mb-3">Products</h5>
                        {% for p in carts %}
                        <form method="POST" action="{% url 'send-checkout' c.id %}">
                            {% csrf_token %}    
                            <div class="d-flex justify-content-between">
                                    <p>{{ p.product.name }}</p>
                                    <p>${{ p.product.price }}</p>
                                </div>
                                {% endfor %}
                                <hr class="mt-0">
                                <div class="d-flex justify-content-between mb-3 pt-1">
                                    <h6 class="font-weight-medium">Subtotal</h6>
                                    <h6 class="font-weight-medium">${{ b }}</h6>
                                </div>
                            </div>
                            <div class="card-footer border-secondary bg-transparent">
                                <div class="d-flex justify-content-between mt-2">
                                    <h5 class="font-weight-bold">Total</h5>
                                    <h5 class="font-weight-bold">${{ b }}</h5>
                                </div>
                            </div>
                        </div>
                        <div class="card border-secondary mb-5">
                            <div class="card-header bg-secondary border-0">
                                <h4 class="font-weight-semi-bold m-0">Process</h4>
                                <div class="card-footer border-secondary bg-transparent">
                                    <a href=""><button class="btn btn-lg btn-block btn-primary font-weight-bold my-3 py-3">Place Order</button></a>
                                </div>
                            </form>
                </div>
            </div>
        </div>
    </div>
    <!-- Checkout End -->
    {% endfor %}
{% endif %}


{% endblock content %}
